#nav-bar{
    position: fixed;
    background-color: #00a087;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 2em;
    margin-right: 2em;
    z-index: 2;
}

#nav-bar .composetweet{
    position: relative;
    float:right;
    right: 30px;
    top: 9px;
    height: 65px;
    background: #E5FDFF;
    border-radius: 5px;
    border: 1px solid black;
}

#nav-bar .composetweet span{
    position: relative;
    top: 5px;
    color: #009F86;
}
#nav-bar .composetweet .composeicon{
    block-size: 30px;
    float: left;
    color: #009F86;
}

#nav-bar .header{
    position: absolute;
    color: #e8fdff ;
    font-size: 200%;
    line-height: 80px;
    margin: 0 0 0 .5em;    
}