.tweet-error{
    position: relative;
    top: 15px;
    background-color:#fcd380;
    border-radius: 5px;
    margin: 1em 2em 1em;
    border: none;
    display: none;
}

.new-tweet{
    position: relative;
    top: 20px;
    background-color:#EDEDEE;
    border-radius: 5px;
    border: 2px solid #c4bebe;
    margin: 1em 2em 2em;
}

.new-tweet h2{
    text-align: left;
    left:10px;
    top: -10px;
    position: relative;
}

.new-tweet h2:after{
    content: " ";
    display: block;
    width: 360px;
    border: 1px solid black;   
}

.new-tweet .chatbox{
    position: relative;
    left: 0px;
    top: -20px;
    margin: auto;
    width: 360px;
}

.counter{
    color: black;
    position: relative;
    float: right;
    right: 10px;
}

.Tweetbutton{
    position: relative;
    bottom: 10px;
    right: 141px;
}