.post-tweet{
    background-color:#EDEDEE;
    border-radius: 5px;
    border: 1px solid #c4bebe;
    margin: 0 2em 0;
}

.post-tweet img{
    float: left;
    block-size: 60px;
    border-top-left-radius: 5px;
}

.post-tweet h2{
    text-align: left;
    left:10px;
    top: -10px;
    position: relative;
}

.post-tweet .post-content{
    background-color:white; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post-tweet .aturl{
    position: relative;
    top: -55px;
    right: -145px;
} 

.post-tweet .post-content .content{
    position: relative;
    text-align: left;
    line-height: 75px;
}

.post-tweet .post-content .daycount{
    text-align: left;
    font-size: 0.8em;
}

.highlighted{
    filter: brightness(85%);
}




